# Welcome To Python

Learning Python Basics

Working with operators :-

In [1]:
4+4

8

In [2]:
4-2

2

In [3]:
4*2

8

In [4]:
4/2 # "/" This symbol(operator) is division and it gives quotient.In example- output became 2.

2.0

In [5]:
4%2 # "%" This symbol(operator) is modulus and it gives remainder.In example- output become 0.

0

In [6]:
10%2

0

In [7]:
11%2

1

In [8]:
11%3

2

In [9]:
 2**2 # "**" This symbol represent any numer to the power any number.

4

In [10]:
3**3

27

Working with Variable :-

In [13]:
a=6

In [14]:
a

6

In [15]:
b=2

In [16]:
b

2

In [17]:
a+b

8

In [18]:
c=a+b

In [19]:
c

8

In [20]:
d=a-b

In [21]:
d

4

In [23]:
mul=a*b

In [24]:
mul

12

Area of rectangle :-

In [25]:
length=70
breadth=5
area=length*breadth
area

350

In [44]:
# "print function is use to take output in certain farmat formating way.
# using print function finding area :-
# in this print function in small bracket with cotation data is remain as it is.
# and after coma without cotation data it will be looking for variable data.
# Example:-

print ("Area of rectangle=",area) #after coma we have to write variable name.
print("Area of rectangle with length =",length,"and breadth =",breadth,"is",area)

Area of rectangle= 254.34
Area of rectangle with length = 70 and breadth = 5 is 254.34

In [45]:
type(area)

float

Area of rectangle :-

In [30]:
#area=pi*r**2

pi=3.14
r=9
area=pi*r**2
print("Area of circle =",area)

Area of circle = 254.34

--> According to above method we can find any area,perimetre etc by using variable and putting formula using varibale.

Data Type :-

a,b,c,d....etc =charecter data type or string data type
1,2,3,4,...etc =integer type data
0.1,1.2,11.3...etc =float type data

User Input :-

In [31]:
name=input ("enter name") # now press run and after run fill data name then press enter not press run.

enter nameJhon

In [32]:
name

'Jhon '

In [37]:
type(name) #to know data type.

str

In [33]:
city=input("enter city name")

enter city namelondon

In [34]:
city

'london'

In [38]:
type(city)

str

--> input function take the user value and print function take print value.

In [36]:
number=input("enter number")

enter number78

In [39]:
type(number)

str

Note :- Single cotation ''& double coation "" in between data represent string (str) type data.

In [40]:
a

6

In [41]:
type(a)

int

--> above you can see data type by using data function.

Typecasting :- These typecasting function is assist me to typecast                the variables.i.e we can convert data type into                    other data type.

Typecasting :-

In [46]:
float(56)

56.0

In [47]:
float(34)

34.0

In [48]:
int(67.45)

67

In [49]:
m=78.23

In [51]:
type(m)

float

In [52]:
k=int(m)

In [53]:
k

78

In [54]:
type(k)

int

In [55]:
x=input("enter the value of x")

enter the value of x45

In [56]:
x

'45'

In [57]:
type(x)

str

In [58]:
j=int(x)

In [59]:
j

45

In [60]:
type(j)

int

In [62]:
p=int(input("enter value of p"))

enter value of p50

In [63]:
type(p)

int

In [64]:
q=int(input("enter value of q"))

enter value of q60

In [65]:
q

60

In [67]:
type(q)

int

In [68]:
p+q

110

Concatenation function:- it means adding any two number or string type data.
Ex:-

In [141]:
"henry "+"vegas" #give space in first word

'henry vegas'

In [73]:
firstname="ABCD "
lastname ="xyz"

firstname+lastname

'ABCD xyz'

Puting your pre-algebra skill to the test,let's look at comparisons, which evaluate to boolean value.
ex:- either True or false {1(true) or 0(false)}
    
    Boolean Operation:-
    "> or <" = greaterthan or less than
     "!="    =Not equal to
    "=="     = comparing two number

In [74]:
2<5

True

In [75]:
4>10

False

In [76]:
3==3

True

In [77]:
5==9

False

In [78]:
5==6

False

In [79]:
6!=9

True

In [81]:
6==9

False

In [83]:
7!=7

False

Length of the data :-
len("abc..") this length function is finding length of data. these are inbuit function.
Example:-

In [84]:
len("abc")

3

In [85]:
len("india")

5

In [87]:
city="mumbai"

In [88]:
len("city")

4

In [91]:
len(city) # this one is variable.bcz city="mumbai"  so length =6 became.

6

--> python is a case sensetive.

In [93]:
country="dubai"
print(country)

len(country)

dubai

5

In [94]:
country="india"
len(country)

5

Slice()- given a start and stop value.

index :-

--> index in by default inside python and it is taking the indexing.
example :-Hello 
0=H, 1=e, 2=l, 3=l, 4=o

In [97]:
print("Hello"[0])

H

In [99]:
print("Hello"[1])

e

In [100]:
print("Hello"[2])

l

In [101]:
print("Hello"[3])

l

In [102]:
print("Hello"[4])

o

Slicing :- slicing is starting count from 1 not from 0 .
example:- see carefully [0:1],[0:2],[ :4],[0: ]

In [104]:
print("Hello"[0:1])

H

In [105]:
print("Hello"[0:2])

He

In [107]:
print("Hello"[0:3])

Hel

In [109]:
print("Hello"[ :4]) # here automatically start from 0.

Hell

In [110]:
print("Hello"[0: ]) # here automatically go to the end.

Hello

In [111]:
print("Hello"[0:2])

He

In [112]:
print("Hello"[1:2])

e

In [113]:
print("Hello"[1:3])

el

In [114]:
print("Hello"[2:4])

ll

In [115]:
print("Hello"[3:4])

l

In [116]:
print("Hello"[ :4])

Hell

In [117]:
city="newjersey"

In [118]:
city[2]

'w'

In [119]:
city[0:6]

'newjer'

In [120]:
city[2:7]

'wjers'

Negative indexing :-

ex:- newjersey =
    
    +ve indexing :- n=0,e=1,w=2,j=3......etc.
    -ve indexing :- y=-1,e=-2,s=-3.......etc.it move right to left                     then return left to right" <---"
                                               --->

Example :-

In [124]:
city="newjersey"

In [125]:
city[-1]

'y'

In [127]:
city[-4:-2]

'rs'

In [128]:
city[-7:-2]

'wjers'

In [129]:
city[-4:-3]

'r'

In [130]:
city[-5:-1]

'erse'

In [131]:
city[-7:-3]

'wjer'

In [133]:
city[-8:-5]

'ewj'

In [134]:
city[-1: ]

'y'

In [135]:
city[ :-1]

'newjerse'

In [136]:
city[-9: ]

'newjersey'

In [137]:
city[-8:-2]

'ewjers'

In [138]:
city[-6:-3]

'jer'

In [139]:
city[-3:-2]

's'

In [140]:
city[-4:-1]

'rse'

In [142]:
city[-9: ]

'newjersey'

Exercise :-

In [143]:
height=4.89
weight=56.2
bmi=weight/height**2
print(bmi)

2.3502745471957716

In [144]:
# task write a statement for finding area of rectangle.
#take a variable : Length and breadth
#make a third variable area and use length*breadth and then print(area).

In [153]:
length=6
breadth=8
area=length*breadth
print(area)
print("area of rectangle",area)
print("area of rectangle with length =",length,"and breadth =",breadth,"is",area)

48
area of rectangle 48
area of rectangle with length = 6 and breadth = 8 is 48

In [147]:
#perimeter of rectangle
perimeter=2*(length+breadth)
perimeter

28

In [149]:
# Home work
#find circumference of circle by using circumference formula.
#find  simple interest = p*r*T 
#area of triangle
# find square

In [158]:
#circumference
pi=3.14
#r=5
circumference=2*pi*r
print("circumference of a circle=",circumference)

circumference of a circle= 50.24

In [160]:
r=int(input("enter radius")) # before useing new r value you have stop old value of r using "#".

enter radius8

In [159]:
circumference

50.24