# Python Data Structure :-

# List :-

In [10]:
l1=[1,2,3,4,5] #number list

In [11]:
l1

[1, 2, 3, 4, 5]

In [3]:
l2=[11,22,33,44,55,77]

In [4]:
l2

[11, 22, 33, 44, 55, 77]

In [5]:
l3=[56,89,34,11]

In [6]:
l3

[56, 89, 34, 11]

In [7]:
l3.append(78)

In [8]:
l3

[56, 89, 34, 11, 78]

In [11]:
l3.insert(1,100)

In [12]:
l3

[56, 100, 100, 89, 34, 11, 78]

In [13]:
l4=[67.4,45.3,99.5,78.2] #float list

In [14]:
l4

[67.4, 45.3, 99.5, 78.2]

In [15]:
l5=['A','B','C','D'] #character list

In [16]:
l5

['A', 'B', 'C', 'D']

In [17]:
fruitlist=["Apple","Mango","Guava","strawberry","Berries","Banana"]

In [18]:
fruitlist

['Apple', 'Mango', 'Guava', 'strawberry', 'Berries', 'Banana']

In [19]:
len(fruitlist) # To know length of list by len(....)  method.

6

In [20]:
fruitlist.append("Grapes") # To adding more fruit in list we use .append("....") method to add the data at the end.

In [21]:
fruitlist

['Apple', 'Mango', 'Guava', 'strawberry', 'Berries', 'Banana', 'Grapes']

In [22]:
len(fruitlist)

7

In [23]:
fruitlist.insert(2,'kiwi') # we use .insert(index number,"Data") method to add new data at place of old data.

In [24]:
fruitlist # it come in vertical bcz no of data in list is more.

['Apple',
 'Mango',
 'kiwi',
 'Guava',
 'strawberry',
 'Berries',
 'Banana',
 'Grapes']

In [25]:
fruitlist.sort() # we use .sort() method to arrange in assending order.

In [26]:
fruitlist

['Apple',
 'Banana',
 'Berries',
 'Grapes',
 'Guava',
 'Mango',
 'kiwi',
 'strawberry']

In [27]:
fruitlist.reverse() # we use .reverse() to arrange in dessending order.

In [28]:
fruitlist

['strawberry',
 'kiwi',
 'Mango',
 'Guava',
 'Grapes',
 'Berries',
 'Banana',
 'Apple']

Pop operation :-
--> it will remove data from back end.

In [29]:
l3=[56, 100, 89, 34, 11, 78]

In [30]:
l3.pop()

78

In [31]:
l3

[56, 100, 89, 34, 11]

In [32]:
l3.pop(3)

34

In [33]:
l3

[56, 100, 89, 11]

In [61]:
l3.remove(100) # By .remove(...) operation we can remove perticular data by name.

In [62]:
l3

[56, 89, 11]

In [63]:
fruitlist

['strawberry',
 'kiwi',
 'Mango',
 'Guava',
 'Grapes',
 'Berries',
 'Banana',
 'Apple']

In [64]:
fruitlist.pop()

'Apple'

In [65]:
fruitlist

['strawberry', 'kiwi', 'Mango', 'Guava', 'Grapes', 'Berries', 'Banana']

In [66]:
fruitlist.pop(1)

'kiwi'

In [67]:
fruitlist

['strawberry', 'Mango', 'Guava', 'Grapes', 'Berries', 'Banana']

In [72]:
fruitlist.remove("Guava")

In [73]:
fruitlist

['strawberry', 'Mango', 'Grapes', 'Berries', 'Banana']

In [1]:
l1=[1,2,3,4,5]            #.apppend operation create internal list to add more data.a
l1.append([77,88,99])     # example:-
l1

[1, 2, 3, 4, 5, [77, 88, 99]]

In [3]:
l1=[1,2,3,4,5]        #.extend operation extend /add more data to without creating any list.
l1.extend([77,88,99]) # example:-
l1

[1, 2, 3, 4, 5, 77, 88, 99]

In [4]:
fruitlist=["apple","grapes","orange","banana"]
fruitlist.append(["papaya","kiwi"])

In [45]:
fruitlist

['apple', 'grapes', 'orange', 'banana', ['papaya', 'kiwi']]

In [8]:
fruits=["apple","grapes","orange","banana"]
veggies=["corn","kale","mushrooms"]
fruits.append(veggies)
fruits

['apple', 'grapes', 'orange', 'banana', ['corn', 'kale', 'mushrooms']]

In [9]:
fruits=["apple","grapes","orange","banana"]
veggies=["corn","kale","mushrooms"]
fruits.extend(veggies)
fruits

['apple', 'grapes', 'orange', 'banana', 'corn', 'kale', 'mushrooms']

Manipulating List :-

Operators

list can be concatenated

In [20]:
fruits=["apple","grapes","orange","banana"]
veggies=["corn","kale","mushroomx"]
grocery_list=fruits+veggies
grocery_list

['apple', 'grapes', 'orange', 'banana', 'corn', 'kale', 'mushroomx']

In [21]:
fruits.clear()   # By .clear() operator we can delete particular list.
                 #example

In [22]:
fruits

[]

In [23]:
del fruits # del operator will delete the all the fruitlist

TASK :-

Make a two list.one list holding the name of mobile names:iphone,oppo,lava,blackberry,lg
and second list holding the name of reliance,airtel,vodafofe
and concatenate them,see the hole list

In [25]:
mobile=["iphpne","oppo","lava"]
channel=["reliance","airtel","vodafone"]
totallist=mobile+channel
totallist

['iphpne', 'oppo', 'lava', 'reliance', 'airtel', 'vodafone']

In [26]:
len(totallist)

6

TASK :-
    
Make a list cricketlist give name of 5 player.once created see it.now add any
number runs with player see it access the list with folling cricketlist[0:4],then
cricketlist[2:7],then[-1],[-6:2] at the end find the string using len function in this way you learned list using string/numbers we call it hetrogeneous list
as we add many data type.

In [28]:
#Hint
#nameoflist=["sachin",8000,"sss",4333]
#nameoflist[0:4]

In [30]:
cricketlist=["sachin",10000,"saurav",60000,"dhoni",6000,"virat",5000,"yuvraj",5500]

In [31]:
cricketlist[0:4]

['sachin', 10000, 'saurav', 60000]

In [32]:
cricketlist[2:7]

['saurav', 60000, 'dhoni', 6000, 'virat']

In [33]:
cricketlist[3:6]

[60000, 'dhoni', 6000]

In [34]:
cricketlist[-1]

5500

In [35]:
cricketlist[-6:-2]

['dhoni', 6000, 'virat', 5000]

In [37]:
l3=[56,89,11]

In [38]:
l3

[56, 89, 11]

In [39]:
l3[1]

89

In [40]:
l3[1]=800 #this command means list are mutable it means list can be mutable even after the creation.

In [41]:
l3

[56, 800, 11]

In [34]:
fruitlist=["strawberry","kiwi","grapes","berries","banana"]

In [35]:
fruitlist

['strawberry', 'kiwi', 'grapes', 'berries', 'banana']

In [36]:
fruitlist[2]

'grapes'

In [37]:
fruitlist[2]="pineapple"

In [38]:
fruitlist

['strawberry', 'kiwi', 'pineapple', 'berries', 'banana']

In [52]:
fruitlist.clear()

In [53]:
fruitlist

[]

In [ ]:
del fruitlist #after this command fruitlist will deleted completely.

PYTHON DATA STRUCTURE

TUPLES :-

--> inside the tuples we can't change the enternal elements once created.
--> Tuples are represented by a number of value sperated by comma and tuples are immutable it means you can't change the internal value once after the creation.

In [58]:
t1=(1,2,3,4,5)

In [59]:
t1

(1, 2, 3, 4, 5)

In [67]:
t2=(55,78,34,56,23)

In [68]:
t2[0]

55

In [70]:
t2[0]=22

TypeError: 'tuple' object does not support item assignment

# DICTIONARY :-

-->inside the dictionary key value is present we have to write key value.
-->Dictionary is the keys values pairs.each key saperated by colon.
.
      id      name ---->keys
      1001    abc  ---->values
    
    {key:value,key:value,...}

In [2]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'} # Here name,age,class are keys and jara,7,first are value.

In [14]:
dict1

{'Name': 'Zara', 'Age': 10, 'Class': 'First'}

In [4]:
dict1['Name']

'Zara'

In [5]:
print(dict1['Age'])

7

In [6]:
dict1['Age']=10

In [10]:
dict1

{'Name': 'Zara', 'Age': 10, 'Class': 'First'}

In [11]:
print(dict1['Class'])

First

In [16]:
print("dict['Name']:",dict1['Name']) #in the print statement whatever we write in double cot that statement print as it is.
                                     # without double cot it will start looking for the values.

dict['Name']: Zara

In [17]:
len(dict1)

3

In [18]:
dict1.keys() # to find .keys().

dict_keys(['Name', 'Age', 'Class'])

In [20]:
dict1.values() # to find .values().

dict_values(['Zara', 10, 'First'])

In [22]:
dict1.items() # to find both keys and values we use .items() .

dict_items([('Name', 'Zara'), ('Age', 10), ('Class', 'First')])

In [23]:
# Adding a New key value pair usining .updating({'keys':values}) operation.

dict1.update({'fee':5000})

In [24]:
dict1

{'Name': 'Zara', 'Age': 10, 'Class': 'First', 'fee': 5000}

In [26]:
# Updating existing key's value by this operation.

dict1['fee']=9500
print(dict1)

{'Name': 'Zara', 'Age': 10, 'Class': 'First', 'fee': 9500}

NOTE :-
    
    *FOR LIST         -->  " [   ] " (Square bracket)
    *FOR TUPLES       -->  " (   ) " (Round Bracket)
    *FOR DICTIONARY   -->  " {   } " (Curly bracket)

TASK :- Make a dictionary naming colourdict with key-value pair
    rock:brown
    trees:green
    apple:red
    banana:yellow
        and then print it.

In [27]:
colourdict={'rock':'brown','trees':'green','apple':'red','banana':'yellow'}
print(colourdict)

{'rock': 'brown', 'trees': 'green', 'apple': 'red', 'banana': 'yellow'}

Enhanced operation in Dictionary :-

In [28]:
# Dictionary with interger key :
indict = {10: "c++", 20: "java", 30: "python", 40: "Ruby"}

In [29]:
indict.keys()

dict_keys([10, 20, 30, 40])

In [31]:
indict.values()

dict_values(['c++', 'java', 'python', 'Ruby'])

In [33]:
indict.items()

dict_items([(10, 'c++'), (20, 'java'), (30, 'python'), (40, 'Ruby')])

In [39]:
#adding a new key toa dictionary :- to add new key value pair.
indict.update({50:'rails'})

In [40]:
indict

{10: 'c++', 20: 'java', 30: 'python', 40: 'Ruby', 50: 'rails'}

In [41]:
#Updating value in given key :-

indict[40]='csharp'

In [42]:
indict

{10: 'c++', 20: 'java', 30: 'python', 40: 'csharp', 50: 'rails'}

In [43]:
# For delete a perticular key :-

del indict[50]

In [44]:
indict

{10: 'c++', 20: 'java', 30: 'python', 40: 'csharp'}

In [45]:
# For delete we can use also pop operation :-

indict.pop(30)

'python'

In [47]:
indict

{10: 'c++', 20: 'java', 40: 'csharp'}

In [48]:
indict.items()

dict_items([(10, 'c++'), (20, 'java'), (40, 'csharp')])

In [49]:
#Dictionary with multiple value :-

newdict={1:['red', 'green', 'blue'],2:['white', 'pink', 'purple'],3:['brown', 'yellow', 'light green']}

In [50]:
newdict

{1: ['red', 'green', 'blue'],
 2: ['white', 'pink', 'purple'],
 3: ['brown', 'yellow', 'light green']}

In [51]:
newdict.keys()

dict_keys([1, 2, 3])

In [53]:
newdict.values()

dict_values([['red', 'green', 'blue'], ['white', 'pink', 'purple'], ['brown', 'yellow', 'light green']])

In [54]:
newdict.items()

dict_items([(1, ['red', 'green', 'blue']), (2, ['white', 'pink', 'purple']), (3, ['brown', 'yellow', 'light green'])])

In [55]:
newdict.clear() # for clear data in dictionary.

In [56]:
newdict

{}

In [57]:
del newdict # for delete complete data from dictionary ex:-newdict not shown after use delete operation. it will show error.

In [60]:
newdict

NameError: name 'newdict' is not defined

In [61]:
#Data structure :-
#    1. List
#   2. Tuples
#   3. Dictionary
#    4. Sets

SETS :-

--> A python sets is the collection of unordered items. Each element in the set must be unique,immutable,and the set remove the duplicate elements. Sets are mutable which means we can modify it after its creation.

-->Unlike other in collections in python, there is no index attached to the element of set, i.e., we cannot directly access any element of the set by the index. However, We can print them all together, or we can get the list of elements by looping through the set.

-->EX:- Sets=([14,15,16,17,15]), here 15 is repeated value it means   duplicated.repeatation is not allowed in Sets.So data should be unique in Sets. SET use {} or set([]) bracket .do not confused with  dic inside the {} bracket we had use key pair value. but in set only data value is taken.

In [62]:
x={22,33,56,78,90}
x

{22, 33, 56, 78, 90}

In [63]:
y=set([33,44,55,66,77])
y

{33, 44, 55, 66, 77}

In [80]:
days={"monday","tuesday","wednesday","thrusday","friday","saturday"}

In [81]:
type(days) #to know data type

set

In [82]:
days.add("sunday")#to add data>Set are unorder so data enter anywhere in set.
days              # no indexing rule in set so unorder

{'friday', 'monday', 'saturday', 'sunday', 'thrusday', 'tuesday', 'wednesday'}

In [83]:
print(days[0]) # sets object does not support indexing. error come.

TypeError: 'set' object is not subscriptable

In [84]:
days[1]="june" #set' object does not support item assignment it means sets are immutable.

TypeError: 'set' object does not support item assignment

In [85]:
days.remove("sunday") #set support remove operation.

In [86]:
days

{'friday', 'monday', 'saturday', 'thrusday', 'tuesday', 'wednesday'}

In [87]:
days.pop() #set support pop operation.

'tuesday'

In [88]:
days.clear() #set support clear operation.
days

set()

In [ ]:
# python is dynamically implicity type.means internaly it will choose the data type own its owm.
#python is case sensetive. python is object oreinted.python is very speedy.
#python is based on c and c++ it is taking more the facility from complier and interpretor.
#interpretor is working whnen i writing line by line interpretor is translating the data into binary language.
#when i writing more than one line they are complier. Ex:- area of .... .