# PYTHON LOOPS:-

LOOPS :-

* A perticular specific code goes on itrated(looping) till the perticular condition is match.

LOOPS has three condition :-
    
    * Initialization - For initialization we need perticular variable to initialize a perticular numerical(i=0).
    * Condition      - i need perticular to be match
    * Incrementation - inside the loop i have write one line increment.increment means increae of 1.

--> Basically inside the python when we are creating the loop ther are perticular key words provide. 

LOOPS CONDITION :-
    
    *initialization     i=0
    
    *condition          while(i<5):    while loop to provide condition.now we have to write loop body and automacally 
                                       indentation(gap 1tab/4-5space) will come then --> print(i)(this is statement).

    *increment          i=i+1          this one is increment.
    
--> Do not forget to give the increment if we forgeting to give the increment this loop will move to infinite that will never stop.
  
    Example :-

* WHILE LOOP :-

* INITIALIZATION :-

In [100]:
i=0

In [101]:
while(i<5): #do not forget to write colone(:).
    print(i)
    i=i+1

0
1
2
3
4

In [102]:
i=0
while(i<10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [103]:
k=0
while(k<20):
    print(k)
    k=k+5

0
5
10
15

In [104]:
m=10
while(m<50):
    print(m)
    m=m+10

10
20
30
40

In [105]:
m=10
while(m<50):
    print("m=",m)
    m=m+10

m= 10
m= 20
m= 30
m= 40

In [106]:
j=0
while(j<21):
    print(j,end =" ") # to get output in horizontal use end parameter--> end=" " and give gap b/w double cot.
    j=j+2

0 2 4 6 8 10 12 14 16 18 20

FOR LOOP :-

* For Loop basically use whenever we have had collection of data.

 --> for <index> in [collection of data] # in means index.
         print(index)

In [107]:
for index in [1,2,3,4]:
    print(index)

1
2
3
4

In [108]:
for index in[1,2,3,4,5,6,7]:
    print(index)

1
2
3
4
5
6
7

In [109]:
for index in [11,22,33,44,55]:
    print(index)

11
22
33
44
55

In [110]:
for i in [34,67,89,20,90,11]:
    print(i)

34
67
89
20
90
11

In [111]:
for j in[34.5,78.9,11.8,9.3]:
    print(j)

34.5
78.9
11.8
9.3

In [112]:
for k in ['a','b','c']:
    print(k)

a
b
c

In [113]:
for k in ["apple","mango","banana"]: #string data written in double cot.
    print(k)

apple
mango
banana

In [114]:
nlist=[1,2,3,4,5,6]
for i in nlist:
    print(i)

1
2
3
4
5
6

In [115]:
nlist=[11,22,33,44,55]
for j in nlist:
    print(j)

11
22
33
44
55

In [116]:
data=["table","chair","fan","light"]
for d in data:
    print (d)

table
chair
fan
light

In [117]:
fruitlist=["apple","mango","banana"]
for k in fruitlist:
    print(k)

apple
mango
banana

In [118]:
player=["sachin","dhoni","virat","harbajan","suresh"]
for p in player:
    print(p)

sachin
dhoni
virat
harbajan
suresh

In [119]:
for k in [90,70,50,30]:
    print(k)

90
70
50
30

In [120]:
list4=['A','B','C','D']
for m in list4:
    print(m,end=" ")

A B C D

In [121]:
a=["sky","earth","water"]
for i in a:
    print(i)

sky
earth
water

In [122]:
colour=["orange","red","blue"]
for i in colour:
    print(i)

orange
red
blue

#TASK

Create a list with name fundrinks with elements coke,lemon,soda,pepsi

and then itrate it through for loop.

In [123]:
fundrinks=["lemon","coke","soda","pepsi"]
for i in fundrinks:
    print(i)

lemon
coke
soda
pepsi

Focus here part of for loop or not see below :_

In [124]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [125]:
for i in [1,2,3,4,5]:
    print("i=",i)
    print("end")      # with inditation value this is the part of for loop.

i= 1
end
i= 2
end
i= 3
end
i= 4
end
i= 5
end

In [126]:
for i in [1,2,3,4,5]:
    print("i=",i)

print("end")                 #without indetation vale this is not a part of for loop.
print("end of for loop",i)

i= 1
i= 2
i= 3
i= 4
i= 5
end
end of for loop 5

# samplelist=[",",",","]

for x in samplelist:print(x)

Itrating through dictionary :-

In [127]:
d={1:'sky',2:'earth',3:'water',4:'forest'}
for k in d:
    print(k)

1
2
3
4

In [128]:
d={1:'sky',2:'earth',3:'water',4:'forest'}
for k in d:
    print(d[k])

sky
earth
water
forest

In [129]:
subject={101:"english",102:"science",103:"math",104:"sst"}
for k in subject:
    print(k)

101
102
103
104

In [130]:
subject={101:"english",102:"science",103:"math",104:"sst"}
for k in subject:
    print(subject[k])

english
science
math
sst

In [131]:
a_dict = {'colour':'blue','fruit':'apple','pet':'dog'}
d_items =a_dict.items()

print(d_items)

# write the below code in next cell

for key in a_dict:
    print(key,'->',a_dict[key])

dict_items([('colour', 'blue'), ('fruit', 'apple'), ('pet', 'dog')])
colour -> blue
fruit -> apple
pet -> dog

RANGE FUNCTION :-

* There are many itrables in python like list,tuples etc.range() gives another way to initialize a sequence of numbers using some conditions.

In [132]:
range(0,5)

range(0, 5)

In [133]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [134]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [135]:
a=list(range(0,10))

In [136]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [137]:
list(range(0,50,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [138]:
b=list(range(0,5))
b

[0, 1, 2, 3, 4]

In [139]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [140]:
for k in range(0,20):
    print(k,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

* BREAK :-

* CONTINUE :-

* if(condition)  :-

BREAK         :- inside the python if i want to make the loop break in                   between there is break keyword present in the python.

CONTUINUE     :- if i want skip few indexes that is posible with                         continue keyword these are present in the python. 

if(condition) :- Basically to do this break and continue  i need the                     if(condition) statement.

EXAMPLE :-

In [141]:
for i in ['lemon','apple','orange','banana']:
    print(i)

lemon
apple
orange
banana

In [142]:
for i in ['lemon','apple','orange','banana']:
    if i=='orange':
        break         #break is inbuilt keyword in python and it is break loop/itration with the break statementof any loop here.
    print(i)

lemon
apple

In [143]:
for i in ['lemon','apple','orange','banana']:
    if i=='orange':
        continue       #continue is inbuilt keyword in python and after giving continue statement it will jump to the next itration it no more come to the below statement.after giving cotinue statement and code will make continuiation to the next index.   
    print(i)

lemon
apple
banana

Notes--> Be care with colone and indentation.

In [144]:
#Task 2
#create 2 program for loop on list of object named colors
#with element red, yellow, green, blue, purple

#HINT
#colour=["","","",""]

#write break statement where i=='green'

#for i in colour

In [145]:
colours=["red","yellow","green","blue","purple"]
for i in colours:
    if i=='green':
        break
    print(i)

red
yellow

In [146]:
colours=["red","yellow","green","blue","purple"]
for i in colours:
    if i=='green':
        continue
    print(i)

red
yellow
blue
purple

THE END SESSION

ok