In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd
df=pd.read_csv('student_marks.csv')
df.head

<bound method NDFrame.head of   Unnamed: 0 Gender         DOB  Maths  Physics  Chemistry  English  Biology  \
0       John      M  05-04-1988     55       45         56       87       21
1     Suresh      M  04-05-1987     75       96         78       64       90
2     Ramesh      M  25-05-1989     25       54         89       76       95
3    Jessica      F  12-08-1990     78       96         86       63       54
4   Jennifer      F  02-09-1989     58       96         78       46       96
5       Annu      F  05-04-1988     45       87         52       89       55
6      pooja      F  04-05-1987     55       64         61       58       75
7     Ritesh      M  25-05-1989     54       76         87       56       25
8      Farha      F  12-08-1990     55       63         89       75       78
9     Mukesh      M  02-09-1989     96       46         77       83       58

   Economics  History  Civics
0         52       89      65
1         61       58       2
2         87       56      74
3         89       75      45
4         77       83      53
5         89       87      52
6         58       64      61
7         56       76      87
8         75       63      89
9         83       46      77  >

In [17]:
df['Maths'].mean()

59.6

Percentile and spread od data

In [3]:
import scipy
from scipy import stats 
from scipy.stats import percentileofscore

In [4]:
percentileofscore(df['Maths'],25)

10.0

In [5]:
percentileofscore(df['Maths'],60)

70.0

In [6]:
percentileofscore(df['English'],75)

60.0

In [7]:
percentileofscore(df['Biology'],60)

50.0

In [8]:
max_m=df['Maths'].max()
max_m

96

In [9]:
min_m=df['Maths'].min()

In [11]:
r=max_m-min_m
r

71

In [12]:
Spread of data

Q1 Q2 Q3

SyntaxError: invalid syntax (<ipython-input-12-342ab4ea1dc2>, line 1)

In [13]:
q3=df['Maths'].quantile(.75)
q3

70.75

In [14]:
from scipy.stats import zscore

In [15]:
zscore([56,34,33])

array([ 1.41316716, -0.65947801, -0.75368915])

In [16]:
df.iloc[:,3:-1]

   Maths  Physics  Chemistry  English  Biology  Economics  History
0     55       45         56       87       21         52       89
1     75       96         78       64       90         61       58
2     25       54         89       76       95         87       56
3     78       96         86       63       54         89       75
4     58       96         78       46       96         77       83
5     45       87         52       89       55         89       87
6     55       64         61       58       75         58       64
7     54       76         87       56       25         56       76
8     55       63         89       75       78         75       63
9     96       46         77       83       58         83       46