# Basics Statistics -1

# Measure of Asymmetry :-
__Skewness :-__ Skewness is the asymmetry in astatistical in a appears distorted or skewed towards to the left or to the right.
skewness indicate wheather the data is concentrated on one side.

* If the density of data is high the the skewness(DATA curve is flatning either right side or left side) is present in data it is called as asymmetry into the data.
* Skewness means Left tail & Right tail or Left-Skewed(Negative Skewness) & Right Skewed (Positive skewness) of the data.
* Right skewness shows mean>median>mode but left skewness shows mode>median>mean in plot.
* Go to  notes repository page no -87

# Graph

* Histogram shows the distribution of the frequency of the data .

* Scatter Plot shows scattering of the data it also plot by gender.

* Box plot show the five figures of the data :-
    * minimum, 25th percentile, 50th percentile(Median), 75th percentile, maximum and whiskers are also present between min and 25th percentile and between 75th percentile and max.
    * Between box  area(75th percentile - 25th percentile=IQR) is called  Interquartile Range (IQR) 
    * box plot is havely use.

# Basic Statistics 2

Notes link -https://drive.google.com/file/d/1UUiDx_v3E7Jg6uP9EZXWDkXrUGaTH-jj/view

* Outliers :- outlier is data which is not present in normal distribution and outlier is not belonging to normal distribution these outlier  is abnormal activities hackeres are doing abnormal activities.
    * To cheak  outlier we use mathmatical statistician formula "Z-score".
    * notes link page no -2

* Calulating z-score of each point - 
Notes link page no 5
example link page no-10 & 11

* __Central Limit Theoram :-__

    * Whenever i have population or large data set and from the population i am taking the sub set or sample of population and from  different sub-sets or samples we find out mean of the all different sample that means are almost similar so Central Unit Theoram says that the sub-sets from the single population  guess the similar kind of the average or means.

* __scipy  library :-__
    * SciPy (pronounced “Sigh Pie”) is a Python-based ecosystem of open-source software for mathematics, science, and engineering.
    * Inside the __scipy  library__ we  can find out z-score value.
    * __scipy__ is library which stand for __scientific python.__ inside it we can do mathematical and computer engineering works. so scipyis havely use there.
    * __scipy  library__ is also use for calculate the  complex statistical.
    * Statistical functions (scipy.stats) link -https://docs.scipy.org/doc/scipy/reference/stats.html

* __Percentileofscore__ is internal function in scipy.stats Where we can calculate the percentile.it is similar calculation as in numpy percentile.

In [7]:
# satatistics with uaing numlpy and pandas 
import pandas as pd
import numpy as np
# import scipy #will study later  
#from scipy import stats 
#from scipy.ststs import percentile fscore

In [8]:
import pandas as pd 
df=pd.read_csv('student_marks.csv')
df.head()

,Name,Gender,DOB,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
0,John,M,05-04-1988,55,45,56,87,21,52,89,65
1,Suresh,M,04-05-1987,75,96,78,64,90,61,58,2
2,Ramesh,M,25-05-1989,25,54,89,76,95,87,56,74
3,Jessica,F,12-08-1990,78,96,86,63,54,89,75,45
4,Jennifer,F,02-09-1989,58,96,78,46,96,77,83,53

In [9]:
df['Maths'].mean()

59.6

In [10]:
df['English'].mean()

69.7

In [11]:
df['Chemistry'].mean()

75.3

In [12]:
df['Maths'].median()

55.0

In [13]:
df['Civics'].median()

63.0

In [14]:
df['Maths'].mode()

0    55
dtype: int64

In [15]:
df['Physics'].mode()

0    96
dtype: int64

In [16]:
df.describe()

,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.0000
mean,59.600000,72.300000,75.300000,69.700000,64.700000,72.700000,69.700000,60.5000
std,19.460501,20.661559,14.000397,14.453373,26.998148,14.629119,14.453373,25.3432
min,25.000000,45.000000,52.000000,46.000000,21.000000,52.000000,46.000000,2.0000
25%,54.250000,56.250000,65.000000,59.250000,54.250000,58.750000,59.250000,52.2500
50%,55.000000,70.000000,78.000000,69.500000,66.500000,76.000000,69.500000,63.0000
75%,70.750000,93.750000,86.750000,81.250000,87.000000,86.000000,81.250000,76.2500
max,96.000000,96.000000,89.000000,89.000000,96.000000,89.000000,89.000000,89.0000

### Percentile and spread of data :-

In [18]:
# statistics with scipy

import scipy 
from scipy import stats
from scipy.stats import percentileofscore

In [19]:
percentileofscore(df['Maths'],25) #25th percentile with perticilar column.

10.0

In [20]:
percentileofscore(df['Maths'],60) #60th percentile  with perticilar column.

70.0

In [21]:
percentileofscore(df['English'],75) #75th percentile  with perticilar column.

60.0

In [22]:
percentileofscore(df['Biology'],60) #60th percentile  with perticilar column.

50.0

In [23]:
# to find Range 
max_m=df['Maths'].max()
max_m

96

In [24]:
min_m=df['Maths'].min()
min_m

25

In [25]:
# r=range=maximum-minimum
r=max_m-min_m
r

71

### Spread of data :-

let Q1 Q2 Q3  -->Q=quartile and here Q3=75th percentile, Q1=25th percentile

IQR -Interquartile = Q3 - Q1

In [39]:
 #quantile method is present in pandas to calculate the pwrcentile also.

q1=df['Maths'].quantile(.25) # .25 =25th percentile in this similar way we calculate percentile.
q1

54.25

In [32]:
q3=df['Maths'].quantile(.75)
q3

70.75

In [33]:
IQR=q3-q1 # after finding q1 & q2 we can find out IQR of maths.
IQR

16.5

In [37]:
#varience
df['Maths'].var()

378.71111111111105

In [40]:
#std deviation
df['Maths'].std()

19.46050130677807

In [41]:
print(df['English'].var())
print(df['English'].std())

208.89999999999998
14.453373308677804

### Z-Score:-
* we can calculate z-score with scipy :-

In [43]:
from scipy.stats import zscore

In [44]:
# internal process here to find out z score is it finding 1>mean, 2>std deviation then it will finding  z score by puting these value in z score formula(mathmatical calculation) .

zscore ([56,34,21,33])

#here for 56 =1.58361516 , similarly for 34, 21, 33.

array([ 1.58361516, -0.15836152, -1.18771137, -0.23754227])

* __Note__ :- 
    * The statistician has declear that the z-score value between the 3 and -3 will concider as the normal data.
    * And all the other data which is beyound  to -3 & 3 that is consider as abnormal type data.
    * It is fixed(above condition) in z-score.

In [63]:
df.iloc[:,3:-1]

   Maths  Physics  Chemistry  English  Biology  Economics  History
0     55       45         56       87       21         52       89
1     75       96         78       64       90         61       58
2     25       54         89       76       95         87       56
3     78       96         86       63       54         89       75
4     58       96         78       46       96         77       83
5     45       87         52       89       55         89       87
6     55       64         61       58       75         58       64
7     54       76         87       56       25         56       76
8     55       63         89       75       78         75       63
9     96       46         77       83       58         83       46

In [64]:
df.iloc[:,3:10]

   Maths  Physics  Chemistry  English  Biology  Economics  History
0     55       45         56       87       21         52       89
1     75       96         78       64       90         61       58
2     25       54         89       76       95         87       56
3     78       96         86       63       54         89       75
4     58       96         78       46       96         77       83
5     45       87         52       89       55         89       87
6     55       64         61       58       75         58       64
7     54       76         87       56       25         56       76
8     55       63         89       75       78         75       63
9     96       46         77       83       58         83       46

In [48]:
df['Maths'].mean()

59.6

* __Note__ :- 
    * Outlier is abnormal data and abnormal data present in data set. The reason of outlier is Typing error, measurement error, intentional error etc.
    * z score value is outlier value which is present in data set which need to remove, first it need to detected and then it need to remove.

Experiment To know outlier 

Now lets add some marks in Maths such as 300/100, 3175/100, 487/100 in English. Then check the mean.THe value of mean will be outlier , it means there are some typos in data.

call student_read_csv with changed marks.

In [58]:
df1=pd.read_csv('student_marks1.csv')
df1

FileNotFoundError: [Errno 2] File student_marks1.csv does not exist: 'student_marks1.csv'

In [59]:
df1['Maths'].mean()

59.6

In [61]:
df1['English'].mean()

69.7

* One can see that mean is crossing 100. thouh marks is from 100.hence  some outlier/abnormal data is present in the data set .that to be removed . hence we can say mean is robust

    * Out lier can be for certain reasons 
        * typing error 
        * measurement error
        * intentional error  etc

In [62]:
df1=df.iloc[:,3:-1]
df1

   Maths  Physics  Chemistry  English  Biology  Economics  History
0     55       45         56       87       21         52       89
1     75       96         78       64       90         61       58
2     25       54         89       76       95         87       56
3     78       96         86       63       54         89       75
4     58       96         78       46       96         77       83
5     45       87         52       89       55         89       87
6     55       64         61       58       75         58       64
7     54       76         87       56       25         56       76
8     55       63         89       75       78         75       63
9     96       46         77       83       58         83       46

# Hypothesis Testing :-
-->An __objective__ method of making decisions or __inferences__ from sample data(evidence).

Notes Link from page no 23:- https://drive.google.com/file/d/1UUiDx_v3E7Jg6uP9EZXWDkXrUGaTH-jj/view

* Hypothesis testing is very importing part in statistics.
* Its come under the inferencial statistic.this is not a direct statistics.
* Hypothesis testing is way to prove something.Top industries doing lots of hypothesis testing.
* Market researcher,mba people, statistician people,the phd researcher they do the hypothesis testing these all works are  done at top level.
* Before puting anything to the market hypothesiis testing is must. and these testing is havely used.
* Bacically here we come to the conclusion based on to the hypothesis testing with a perticular test prove,they prove the test here then we come to the conclusion.

* __Hypthesis testing has two statement  :-__
    

* 1>__H0 (Null Hypothesis )__ :-
    * The ecommerce product is havily used by youngsters and its come into the favour of youngster and null hypthesis based on evidence after research we come to the conclusion ecommerce is haviely us by yougester. 
    * p-value(probabality-value):-after doing all the test(t-test,f-test,anova test,...etc) we interpreate the result  when p-value>0.05 it means null hypothesis is accepted and alternative hypothesis is rejected.



* 2>__Ha or H1 (Alternative Hypothsis)__ :-
    * The ecommerce product is havily used by the middle age people and elder ones. 
    * p-value(probabality-value):-after doing all the test(t-test,f-test,anova test,...etc) we interpreate the result  when p-value<0.05 it meansalternatve  hypothesis is accepted and null hypothesis is rejected.
    

* To do these test we spss which is developed by IBM.and we can also these tests on ms excel sheets.an all these things have in python into the scipy library to do all these test and we can get p-value and come to the conclusion. 

* So In this way we are comming to the conclusion based on to the evidences then only company move ahead with thier products or ecommerce.

* go for google or notes to data error type  in hypothesis testing -
* Types of error :-
    * Type 1 error:- 
    * type 2 error:-

* __Step to undertaking a Hypothesis test :-__
    * 1> Define study question
    * 2> Set null and alternative hypothesis (choose a sutable test both of them)
    * 3> Calculate a p-value
    * 4> Make a decision and interpret your conclusions

# Probability :-
* Probability is basically the happening of an event.

* Binary (Binomial distribution :- there are only two things either " yes or no" means 50-50 probability comes under in binomial distribution.binomial distribution is dependent means one is success then anothe one is failure.

* Bernaulli's trial/ theorem:- it means how many trial doing that event.

* Poision distribution :- under the poision distribution all the event which are happening all are independent.ex-the no of car is coming in the every two hour is independent. means different number of car comming in every two hour that is variable numbers. 
    * so data is under posion distribution is independent of eachother bcz data value is dfferent(variable).

# Confidence level:-

* The p-value or alpha value =.05 is also known as significance value.
    *  so confidence level =(1-.05)=.95 is confidence level.

The session end

Must Read Best refference pdf book to fundamental statistics link - https://www.fd.cvut.cz/department/k611/PEDAGOG/THO_A/A_soubory/statistics_firstfive.pdf