In [1]:
import numpy
print ("Numpy::",numpy.__version__)
import pandas
print("Pandas::",pandas.__version__)
import numpy as np

Numpy:: 1.18.5
Pandas:: 1.0.5

In [3]:
a=np.arange(4).reshape((2,2))
a

array([[0, 1],
       [2, 3]])

In [5]:
np.amin(a)

0

In [6]:
#find minimum along with columnwise
np.amin(a,axis=1)

array([0, 2])

In [8]:
#find the minimum along with row wise 
np.amin(a,axis=0)

array([0, 1])

In [12]:
a=np.array([[3,7,5],[8,4,3],[2,4,9]])
print('our array is: ')
print (a)

our array is:
[[3 7 5]
 [8 4 3]
 [2 4 9]]

In [ ]:
#minimum function 
print('Applying amin() function again')

In [ ]:
#we can find the minimum value

In [13]:
#The numpy.ptp() returns the (maxium-minium=?)of values along on axix.
a=np.array([[3,7,5],[8,4,3],[2,4,9]])
print ('Our array is :')
print (a)

Our array is :
[[3 7 5]
 [8 4 3]
 [2 4 9]]

In [14]:
print('applying ptp() fumction:' )
print(np.ptp(a))

applying ptp() fumction:
7

In [21]:
print('applying ptp() fumction:' )
print(np.ptp(a,axis=1))

applying ptp() fumction:
[4 5 7]

In [20]:
print('applying ptp() fumction:' )
print(np.ptp(a,axis=0))

applying ptp() fumction:
[6 3 6]

In [23]:
import numpy as np
a=np.array([[3,7,5],[8,4,3],[2,4,9]])
a

array([[3, 7, 5],
       [8, 4, 3],
       [2, 4, 9]])

In [24]:
np.median(a)

4.0

In [25]:
np.median(a,axis=0) #colomwise

array([3., 4., 5.])

In [26]:
np.median(a,axis=1) #rowwise

array([5., 4., 4.])

In [27]:
a

array([[3, 7, 5],
       [8, 4, 3],
       [2, 4, 9]])

In [28]:
np.mean(a)

5.0

In [29]:
np.mean(a,axis=0)

array([4.33333333, 5.        , 5.66666667])

In [30]:
np.mean(a,axis=1)

array([5., 5., 5.])

In [31]:
np.std(a)#standard deviation

2.309401076758503

In [33]:
np.var(a) #variance

5.333333333333333

In [34]:
np.var(a,axis=0)#coloumwise

array([6.88888889, 2.        , 6.22222222])

In [35]:
np.var(a,axis=1)#rowwise

array([2.66666667, 4.66666667, 8.66666667])

In [36]:
np.std(a,axis=0)

array([2.62466929, 1.41421356, 2.49443826])

In [37]:
np.std(a,axis=1)

array([1.63299316, 2.1602469 , 2.94392029])

# Percentile :-

In [38]:
import  numpy as np
a=np.array([1,3,3,4,5,6,6,7,8,8])

np.percentile(a,100)

8.0

In [39]:
np.percentile(a,50)

5.5

In [40]:
np.percentile(a,30)

3.6999999999999997

In [42]:
np.percentile(a,25)

3.25

import pandas as pd 
data=pd.read_csv('president_heights.csv') #github
data

Pandas statistics practice:-

In [46]:
heights=data['height(cm)']

In [47]:
print("Mean height:",heights.mean())
print("standard deviation:",heights.std())
print.("Minimum height:",heights.min)
print.("Maximum height:",heights.max)

SyntaxError: invalid syntax (<ipython-input-47-7261356a5c21>, line 3)

In [48]:
see the visual representation of this

SyntaxError: invalid syntax (<ipython-input-48-3d719adf4caa>, line 1)

In [49]:
import pandas as pd
df=pd.read_csv('student_marks.csv')
df

,Unnamed: 0,Gender,DOB,Maths,Physics,Chemistry,English,Biology,Economics,History,Civics
0,John,M,05-04-1988,55,45,56,87,21,52,89,65
1,Suresh,M,04-05-1987,75,96,78,64,90,61,58,2
2,Ramesh,M,25-05-1989,25,54,89,76,95,87,56,74
3,Jessica,F,12-08-1990,78,96,86,63,54,89,75,45
4,Jennifer,F,02-09-1989,58,96,78,46,96,77,83,53
5,Annu,F,05-04-1988,45,87,52,89,55,89,87,52
6,pooja,F,04-05-1987,55,64,61,58,75,58,64,61
7,Ritesh,M,25-05-1989,54,76,87,56,25,56,76,87
8,Farha,F,12-08-1990,55,63,89,75,78,75,63,89
9,Mukesh,M,02-09-1989,96,46,77,83,58,83,46,77

In [50]:
df['Math']

KeyError: 'Math'

In [51]:
max_m=df['Maths'].max()
max_m

96

In [54]:
min_m=df['Maths'].min()
min_m

25

In [ ]:
r=max_m-